html {
 width: 100%;
 height: 100%;
}

body {
width: 100%;
height: 100%;
}

ul li {
	list-style: none;
}

/*header*/

.header {
	height: 630px;
	width: 100%; 
	background: url(img/Replaceable.png) no-repeat center;
	background-size: cover;
}

.navigation {
	border: none;
	background: transparent;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-brand {
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 40px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
	padding: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	border-bottom: 2px solid #b7c8d9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background: none;
	border-bottom: 2px solid #b7c8d9;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
	background: transparent;
}

.navbar-nav>li>.dropdown-menu{
	color: #fff;
	background: transparent;
}

.dropdown-menu>li>a {
	color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #b7c8d9;
	background: transparent;
}

a.dropdown-toggle {
	
	margin-right: 0;
}
.dropdown-menu {
	min-width: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	height: 80px;
	display: block;
	width: 40%;
	margin: 0 auto;
	margin-top: 170px;
}

.arrow_left {
	position: relative;
	top: 230px;
	left: 80px;
}
.arrow_right{
	position: relative;
	top: 230px;
	right: 80px;
}
.carousel-indicators {
	margin: 0;
	width: 20%;
	left: 80%;
	top: 520px;
}
.slide {
	height: 580px;
	
}

.carousel-inner > .item > p {
	text-align: center;
	margin-top: 30px;
	color: #fff;
}

.carousel-control.left, .carousel-control.right {
	background: transparent;
}

.header_button {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: -100px;
	background: transparent;
	border: 1px solid #fff;
	width: 225px;
	height: 57px;
}

.header_button a {
	display: inline-block;
	width: 220px;
	height: 57px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
}
.header_button a:hover {
	color:#b7c8d9;
}
.header_button:hover {
	color: #b7c8d9;
	border: 1px solid #b7c8d9;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
}

/*content*/
.content {
	background: #f3f3f3;
}

.content_text {
	display: block;
	width: 87%;
	margin: 135px auto;
	background: #fff;
}

.left_text {
	font-size: 24px;
}
.left_text span {
	font-weight: bold;
}

.right_text {
	font-size: 14px;
}

.content_features h3 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 90px;
}

.content_features h3 span {
	font-weight: bold;
}

.content_feature_articles {
	display: block;
	width: 76%;
	margin: 0 auto;
}

.post_1, .post_2, .post_3, .post_4 {
	opacity: 1;
	position: relative;    
    overflow: hidden;
    padding-left: 30px;
    margin-bottom: 30px;
}

.go_post_top {
	position: absolute;
	top: -600px;
	width: 655px;
	height: 257px;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	padding-top: 225px;
	padding-left: 10px;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-background-size: cover;
    background-size: cover;
}

.go_post_2_top {
	position: absolute;
	top: -600px;
	width: 314px;
	height: 257px;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	padding-top: 225px;
	padding-left: 10px;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.go_post_top img, .go_post_4_bot img {
	position: absolute;
	top: 10px;
	left: 570px;
}

.go_post_bot {
	position: absolute;
	top: 600px;
	width: 314px;
	height: 257px;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	padding-top: 225px;
	padding-left: 10px;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-background-size: cover;
    background-size: cover;
}

.go_post_4_bot {
	position: absolute;
	top: 600px;
	width: 655px;
	height: 257px;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	padding-top: 225px;
	padding-left: 10px;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-background-size: cover;
    background-size: cover;
	
}

.post_1:hover > .go_post_top {
	top: 0;
}

.post_2:hover > .go_post_2_top {
	top: 0;
}

.post_3:hover > .go_post_bot {
	top: 0;
}

.post_4:hover > .go_post_4_bot {
	top: 0;
}

.go_post_2_top img, .go_post_bot img {
	position: absolute;
	top: 10px;
	left: 230px;
}

.content_form_container {
	background: #f3f3f3;
	padding-bottom: 160px;
}

.content_form_container form {
	display: block;
	background: #fff;
	width: 80%;
	height: 200px;
	margin: 100px auto 0 auto;
	padding: 80px 40px;
}

.content_form_container label {
	font-size: 24px;
	padding-right: 60px;
}
.content_form_container label span {
	font-weight: bold;
}

.content_form_container #email {
	height: 55px;
	width: 425px;
}
.content_form_container #button {
	height: 55px;
	width: 170px;
	background: #343638;
	color: #fff;
	font-size: 14px;
	margin-left: -5px;
	border: none;
}

.content_form_container #button:hover {
	color: #b7c8d9;
}

/*footer*/
.footer_row {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	padding-top: 140px;
	padding-bottom: 140px;
	padding-left: 110px;
	padding-right: 110px;

}

.footer_row h3 {
	margin: 0;
	padding-bottom: 25px;
	font-size: 20px;
}

.footer_row p {
	color: #9e9e9e;
}
.footer_row a {
	text-decoration: none;
	color: #9e9e9e;
}

.footer_row a:hover {
	color: #b7c8d9;
}

.row_email {
	height: 45px;
	font-style: italic;
}

.row_button {
	height: 45px;
	background: #343638;
	color: #fff;
	font-size: 14px;
	margin-left: -5px;
	border: none;
}

.footer_img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.footer_text {
	margin: 35px 0 35px 80px;
	color:  #9e9e9e;
}

.footer_nav li {
	float: left;
	margin: 35px 10px 35px 10px;
}

.footer_nav li:last-child {
	margin-right: 150px;
}

.footer_nav a {
	text-decoration: none;
	color: #000;
}
.footer_nav a:hover {
	color: #b7c8d9;
}

@media screen and (max-width: 860px) {
	.content_form_container form {
		padding: 40px 40px;
	}
	.content_form_container #email {
		width: 50%;
		height: 30px;
	}
	.content_form_container #button {
		height: 30px;
		width: 75px;
	}
	.content_form_container label {
		font-size: 18px;
	}
}

@media screen and (max-width: 1293px) {
	.row_email {
		width: 50%;
		height: 30px;
	}
	.row_button {
		height: 30px;
	}
}

@media screen and (min-width: 582px) and (max-width: 919px) {
	.post_1 > img, .post_4 > img {
		width: 400px;
	}
	.go_post_top, .go_post_4_bot {
		width: 400px;
		height: 156px;
		padding-top: 127px;
		font-size: 18px;
	}
	.go_post_top img, .go_post_4_bot img {
		left: 326px;
	}
	.carousel-inner>.item>img {
		height: 50px;
		margin-top: 200px;
	}
}

@media screen and (max-width: 582px) {
	.post_1 > img, .post_4 > img {
		width: 320px;
	}
	.go_post_top, .go_post_4_bot {
		width: 320px;
		height: 125px;
		padding-top: 100px;
		font-size: 14px;
	}
	.go_post_top img, .go_post_4_bot img {
		left: 246px;
	}
	.carousel-inner>.item>img {
		height: 35px;
		margin-top: 200px;
	}
	a.dropdown-toggle {
		width: 72px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-nav>li {
		font-size: 12px;
		float: right;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		font-size: 10px;
	}
	.carousel-indicators {
		top: 390px;
	}
	.carousel-inner {
		top: -8px;
	}
	.header_button {
		margin-top: -240px;
	}
	a.dropdown-toggle {
		width: 72px;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.navbar-nav>li {
		font-size: 10px;
		float: right;
		margin: 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		font-size: 10px;
	}
	.carousel-indicators {
		top: 420px;
	}
	.carousel-inner>.item>img {
		height: 30px;
		margin-top: 210px;
	}
	.arrow_left {
		top: 205px;
		left: 20px;
	}
	.arrow_right {
		top: 205px;
		right: 20px;
	}
	.left_text {
		font-size: 18px;
	}
	.post_1, .post_2, .post_3, .post_4 {
		padding-left: 0;
	}
	.post_1 > img, .post_4 > img {
		width: 232px;
	}
	.go_post_top, .go_post_4_bot {
		width: 232px;
    	height: 91px;
    	padding-top: 72px;
    	font-size: 12px;
	}
	.post_2 > img, .post_3 > img {
		width: 232px;
	}
	.go_post_2_top {
		width: 232px;
		height: 188px;
		font-size: 12px;
		padding-top: 168px;
	}
	.go_post_2_top img, .go_post_bot img {
		left: 160px;
	}
	.go_post_bot {
		width: 232px;
		height: 188px;
		font-size: 12px;
		padding-top: 168px;
	}
	.footer_row {
		padding: 40px 40px;
	}
	.go_post_top img, .go_post_4_bot img {
		left: 160px;
	}
	.footer_nav li {
		margin: 10px 10px;
	}
	.footer_nav li:last-child {
		margin-right: 20px; 
	}
	.content_form_container form {
		margin-top: 40px;
	}
	a.dropdown-toggle {
		width: 72px;
	}
}

@media screen and (max-width: 400px) {
	.post_1 > img, .post_4 > img {
		width: 232px;
	}
	.go_post_top, .go_post_4_bot {
		width: 232px;
    	height: 91px;
    	padding-top: 72px;
    	font-size: 12px; 
    }
    .go_post_top img, .go_post_4_bot img {
		left: 160px;
	}
	.post_2 > img, .post_3 > img {
		width: 232px;
	}
	.go_post_2_top {
		width: 232px;
		height: 188px;
		font-size: 12px;
		padding-top: 168px;
	}
	.go_post_2_top img, .go_post_bot img {
		left: 160px;
	}
	.go_post_bot {
		width: 232px;
		height: 188px;
		font-size: 12px;
		padding-top: 168px;
	}
	.footer_row h3 {
		font-size: 14px;
	}
	.footer_row p {
		font-size: 12px;
	}
	.footer_row {
		padding: 40px 40px;
	}
	.col-md-3 {
		padding: 0;
	}
	.row_email {
		width: 100%;
	}
	.footer_nav li {
		margin: 10px 10px;
	}
	.footer_nav li:last-child {
		margin-right: 20px; 
	}
	.content_form_container form {
		margin-top: 40px;
	}
	a.dropdown-toggle {
		width: 72px;
	}
}

@media screen and (min-width: 920px) and (max-width: 1328px) {
	.post_1 > img, .post_4 > img {
		width: 494px;
	}
	.post_2 > img, .post_3 > img {
		width: 247px;
	}
	.go_post_2_top img, .go_post_bot img {
		left: 147px;
	}
	.go_post_top img, .go_post_4_bot img {
		left: 392px;
	}
	.go_post_top, .go_post_4_bot {
		width: 494px;
		font-size: 16px;
		padding-top: 167px;
	}
	.go_post_bot {
		width: 247px;
		font-size: 16px;
		padding-top: 167px;
	}
	.go_post_2_top {
		width: 247px;
		font-size: 16px;
		padding-top: 167px;
	}
}